* {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

html{
    box-sizing: content-box;
}

html *{
    box-sizing: inherit;
}


.navBorder{
    box-shadow: 0 0 0.5em rgb(0, 0, 0,0.3);
    z-index: 2;
    position: relative;
}

.navElementos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navElementos a{
    font-size: 2em;
    margin: 0 0.2em;
    font-weight: 500;
}

#inicioNav{
    background-color: #000;
    color: #fff;
    border-radius: 1em;
    padding: 0.3em 0.8em;
}

.inputSearch{
    font-size: 2em;
    font-family: 'Roboto', sans-serif;        
    padding: 0.3em;
    text-align: center;
    width: 30em;
    margin: 1em 0 ;
    border-radius: 1em;
    background-color: aliceblue;
    outline: none;
}


.inputSearch::placeholder{
    background-image: url(./../public/search-icon.svg);
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: 12em center;

}


.divFotos{
    display: flex;
    justify-content: center;
    background-color: #eee;
}

.columnas{
    column-count: 4;
    width: 120em;
}


.card{
    display: inline-block;
    transition: box-shadow 0.2s ease;
    margin: 4em 1em 0 1em;
    border-radius: 0.5em;
    cursor: pointer;
}

.card img{
    width: inherit;
    border-radius: 0.5em 0.5em 0 0;
}

.card p{
    font-size: 1.5em;
}
.card:hover{
    box-shadow: 0 3em 5em rgb(0, 0, 0,0.2);
}


.footer{
    background-color: #000;
    color: #fff;
    height: 10em;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer h2 {
    font-size: 1.8em;
}

.footer h2 a{
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    
}